@import "partials/style-index";
@import "partials/style-productos";
@import "partials/style-nosotros";
@import "partials/style-galeria";
@import "partials/style-contactanos";
@import "partials/map-colores";

/*normalize*/
*{
    padding: 0px;
    margin: 0px;
}

/* body*/
  body{
    width: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

/* enlaces*/
a{
    text-decoration: none;
    color: black;
}

/* header y nav */
.linkNav{
    background-color: rgba(196, 152, 103, 0.7);
    border: solid 1px rgb(212, 212, 212);
    border-radius: 20px;
    margin: 10px 20px 0px 20px;
    padding: 2px 7px 2px 7px;
    height: 7vh;
    &:hover{
        transform: scale(1.2,1.2);
        background-color: rgba(139, 95, 44, 0.7);;
    }
    &:active{
        transform: scale(1.1,1.1);
    }
}
.linkActual{
    background-color: rgba(139, 95, 44, 0.7);;
}
.navPers{
    display: flex;
    justify-content: space-evenly;
}
.navIcono{
    font-weight: bolder;
}

/*redes*/
.redes{
    display: flex;
    justify-content:space-between;
    width: 160px;
    position: fixed;
    right: 0px;
    bottom: 0px;
    .facebook {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background-color: map-get($redes, facebook);
    }
    .whatsapp{
        @extend .facebook;
        background-color: map-get($redes, whatsapp);
    }
    .instagram{
        @extend .facebook;
        background-color: map-get($redes, instagram);
    }
}

/* footer */
footer{
    display: inline-block;
    position: relative;
    text-align: center;
    width: 100vw;
    height: 5vh;
    font-weight: bolder;
}