.bodyIndex {
  overflow: hidden;
  background-image: url(../images/fondo-index.jpg);
  background-repeat: no-repeat;
  background-size: 100vh auto;
  background-position: top right;
}

.mainIndex {
  display: inline-block;
  position: relative;
  top: 40vh;
  left: 2vw;
  width: 100vw;
  height: 85vh;
}

.textoBienvenida {
  font-size: 8vh;
  display: inline-block;
  position: relative;
  background-color: rgba(196, 152, 103, 0.7);
  width: 65vw;
  height: 30vh;
}

.footerIndex {
  top: 10vh;
}

.tituloNP {
  font-weight: bolder;
  display: inline-block;
  position: relative;
  top: 20vh;
  margin-left: 5vw;
}

.mainNuestrosProductos section {
  display: grid;
  row-gap: 5vh;
  position: relative;
  top: 30vh;
  grid-template-columns: 100vw;
  grid-template-rows: 55vh 55vh 55vh;
  grid-template-areas: "borlas" "platosDeSitio" "centrosDeMesa";
}
.mainNuestrosProductos img {
  width: 10vw;
  margin: 2vw 0vw 2vw 0vw;
  padding: 5vw;
  border: solid 1px black;
}

.borlas {
  grid-area: borlas;
  display: flex;
  justify-content: space-around;
  position: relative;
  width: 100vw;
  height: 50vh;
}

.platosDeSitio {
  grid-area: platosDeSitio;
  display: flex;
  justify-content: space-around;
  position: relative;
  width: 100vw;
  height: 50vh;
}

.centrosDeMesa {
  grid-area: centrosDeMesa;
  display: flex;
  justify-content: space-around;
  position: relative;
  width: 100vw;
  height: 50vh;
}

.footerNP {
  position: relative;
  top: 40vh;
}

.mainNosotros {
  position: relative;
  top: 25vh;
  width: 100vw;
  height: 40vh;
}
.mainNosotros h1 {
  position: relative;
  margin-top: 0px;
  margin-left: 4vw;
  font-weight: bolder;
}
.mainNosotros p {
  margin-top: 10vh;
  margin-left: 5vw;
  width: 80vw;
  height: 40vh;
  background-color: #F1DCA7;
}

.footerNosotros {
  position: absolute;
  top: 95vh;
}

.mainGaleria {
  display: flex;
  justify-content: center;
  position: relative;
  top: 15vh;
}

.carousel {
  width: 60vw;
  height: 80vh;
}

.carousel-item img {
  display: inline-block;
  width: 50vh;
  height: 90vh;
}

.footerGaleria {
  position: absolute;
  top: 110vh;
}

.mainContactanos {
  display: block;
  position: relative;
  top: 20vh;
  left: 5vw;
}
.mainContactanos h1 {
  font-weight: bolder;
}
.mainContactanos form {
  display: flex;
  justify-content: center;
  align-content: center;
}

input:focus, textarea:focus {
  transform: scale(1.05, 1.05);
}

.footerContactanos {
  position: absolute;
  top: 130vh;
}

/*normalize*/
* {
  padding: 0px;
  margin: 0px;
}

/* body*/
body {
  width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

/* enlaces*/
a {
  text-decoration: none;
  color: black;
}

/* header y nav */
.linkNav {
  background-color: rgba(196, 152, 103, 0.7);
  border: solid 1px rgb(212, 212, 212);
  border-radius: 20px;
  margin: 10px 20px 0px 20px;
  padding: 2px 7px 2px 7px;
  height: 7vh;
}
.linkNav:hover {
  transform: scale(1.2, 1.2);
  background-color: rgba(139, 95, 44, 0.7);
}
.linkNav:active {
  transform: scale(1.1, 1.1);
}

.linkActual {
  background-color: rgba(139, 95, 44, 0.7);
}

.navPers {
  display: flex;
  justify-content: space-evenly;
}

.navIcono {
  font-weight: bolder;
}

/*redes*/
.redes {
  display: flex;
  justify-content: space-between;
  width: 160px;
  position: fixed;
  right: 0px;
  bottom: 0px;
}
.redes .facebook, .redes .instagram, .redes .whatsapp {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #3b5998;
}
.redes .whatsapp {
  background-color: #25D366;
}
.redes .instagram {
  background-color: #C13584;
}

/* footer */
footer {
  display: inline-block;
  position: relative;
  text-align: center;
  width: 100vw;
  height: 5vh;
  font-weight: bolder;
}/*# sourceMappingURL=style.css.map */