@import "mixins";

@media screen and (max-width:320px) {

    body{
        width: 100vw;
    }
    .carousel{
        @include sizes(90vw, 90vw);
        top:5vh; 
    }
    .carousel-item{
        img{ 
            display: inline-block;
            @include sizes(90vw, 90vw);
        }    
    }

    .mainNuestrosProductos{
        section{
            display: flex;
            flex-direction: column;
            height: 450vh;
        }
        img{
            @include sizes(70vw, 70vw);
        }
        .borlas{
            bottom: 0px;
        }
        .borlas, .platosDeSitio, .centrosDeMesa{
            display: flex;
            flex-direction: column;     
            height: 140vh;
            align-items: center;
        }
    }

    .redes{
        flex-direction: column;
        width: 48px;
        right: 0px;
        align-items: end;
    }

    .footerNP{
        top: 10vh;
    }
    .footerContactanos{
        top: 40vh;
    }
    .footerGaleria{
     position: relative;
     top: 40vh;
    }

}