.mainGaleria{
    display: flex;
    justify-content: center;
    position: relative;
    top: 15vh;
}
.carousel{
    @include sizes(40vw, 40vw);
}
 .carousel-item{
        img{ 
            display: inline-block;
            @include sizes(40vw, 40vw);
        }
}
.footerGaleria{
    position: absolute;
    top: 110vh;
} 
