@import "mixins";

@media screen and (max-width:420px) {

    body{
        width: 100vw;
        overflow-x: hidden;
    }
    .carousel{
        @include sizes(90vw, 90vw);
        top:5vh; 
    }
    .carousel-item{
        img{ 
            display: inline-block;
            @include sizes(90vw, 90vw);
        }    
    }

    .mainNuestrosProductos{
        img{
            @include sizes(70vw, 70vw);
        }
        section{
            display: flex;
            flex-direction: column;
            height: 700vw;
            justify-content: space-around;
            article{
                display: flex;
                flex-direction: column;
                height: 233vw;
                align-items: center;
            }
        }
    }

    .redes{
        flex-direction: column;
        width: 48px;
        right: 0px;
        align-items: end;
        margin-right: 20px;
    }

    .footerNP{
        top: 40vh;
    }
    .footerContactanos{
        top: 155vh;
    }
    .footerGaleria{
     position: relative;
     top: 40vh;
    }

}