@import "mixins";

.tituloNP{
    font-weight: bolder;
    display: inline-block;
    position: relative;
    top: 20vh;
    margin-left: 5vw;
}
.mainNuestrosProductos{

    section{
        font-weight: bolder;
        display: grid;
        row-gap: 5vh;
        position: relative;
        top: 30vh;
        grid-template-columns: 100vw;
        grid-template-rows: 60vh 60vh 60vh;
        grid-template-areas: "platosDeSitio" "centrosDeMesa" "borlas";
        .borlas{
            grid-area: borlas;
            display: flex;
            justify-content:space-around;
            //position: relative;
            @include sizes(100vw, 50vh);
            img{
                margin-top: 20px;
            }
        }
        .platosDeSitio{
            grid-area: platosDeSitio;
            @extend .borlas;
        }
        .centrosDeMesa{
            grid-area: centrosDeMesa;
            @extend .borlas;
        }
    }   
}



.footerNP{
    position: relative;
    top: 40vh;
}